.input input {
    display: block;
    width: 100%;
    padding: 12px 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #808080;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
}
.label{
    display: inline-block;
    margin-bottom: 5px;
}
.error{
    color: red;
}
.error-border{
    border-color: red;
}
@media (max-width: 1750px) {
    .input input {
        margin-bottom: 15px;
        padding: 10px 15px;
        font-size: 17px;
    }
}

@media (max-width: 1024px) {
    .input input {
        font-size: 14px;
    }
}