.background {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	overflow: hidden;

	.blueCircle {
		width: 75%;
		z-index: -100;
		img {
			width: 50%;
			height: 50%;
		}
	}
	.round1 {
		position: absolute;
		transition: 1s all;
		right: 35%;
		top: 40vh;
	}

	.round2 {
		transition: 1s all;
		position: absolute;
		right: 50%;
		top: 60vh;
		padding: 4rem;
	}

	.round3 {
		position: absolute;
		transition: 1s all;
		left: 15%;
		top: 69vh;
	}

	.round4 {
		position: absolute;
		transition: 1s all;
		margin-left: 8rem;
		right: 30%;
		top: 57vh;
	}
}
