.page3__container {
	width: 76%;
	height: 75vh;
	top: 18vh;
	left: 200px;
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.container__sloy1 {
		width: 40%;

		img {
			width: 80%;
			height: 75%;
			margin: -17% -13%;;
		}
	}
	.page3__text__btn {
		width: 60%;
		height: 105%;
		margin-top: -10%;
		// padding-left: 10rem;

		.title {
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 41px;
			color: #323232;
			margin-top: 10rem;
		}
		.subtitle {
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			color: #323232;
		}
		.post {
			cursor: pointer;
			display: flex;
			align-items: center;
			width: 120px;
			height: 54px;
			background: #1d71b8;
			border-radius: 8px;
			border: none;
			font-family: "Montserrat", sans-serif;
			color: #fff;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			padding-left: 1.5rem;
		}
	}
}
