.finish_main {
  padding: 20px;
  h2 {
    color: #323232;
    font-size: 1.3vw;
  }
  h3 {
    font-size: 1.3vw;
    margin-bottom: 8px;
  }
  .titles {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 300px;
    overflow-y: scroll;
    .description_span {
      display: block;
      margin: 7px 0px;
    }
    .aditional_projects {
      margin-bottom: 10px;
      span {
      }
    }
    .select_levels {
      margin: 8px 0px;
    }
    .select_skills {
      margin-bottom: 5px;
      p {
        margin: 3px 0px;
      }
      .skills {
        display: flex;
        div {
          margin-right: 10px;
          display: flex;
          background: #1d71b8;
          border-radius: 5px;
          color: #ffffff;
          padding: 5px;
        }
      }
    }
    .terms {
      display: flex;
      div:nth-child(2) {
        margin-left: 6vw;
      }
    }
    p {
      color: #323232;
      font-size: 1.2vw;
    }
    span {
      color: #808080;
      font-size: 1.2vw;
    }
    a {
      color: #1d71b8;
    }
  }
}

.titles::-webkit-scrollbar {
  display: block;
  width: 10px;
}

/* Track */
.titles::-webkit-scrollbar {
  background: #f1f1f1;
}
