.talants {
	// max-width: 1410px;
	// min-height: 636px;
	// box-sizing: border-box;
	// display: flex;
	// justify-content: center;
	width: 90%;
	height: 636px;
	margin: 30px auto 0;
	overflow: hidden;



	.talants__container {
		// margin: 80px 255px 90px 255px;
		margin: 0 auto;
		width: 100%;
		max-width: 1450px;
		padding: 40px 30px 0 40px;
		height: 636px;
		overflow: hidden;
		// margin: 0 auto o auto;
		z-index: 10;
		background: linear-gradient(101.5deg, rgba(255, 255, 255, 0.2) 0%, rgba(29, 113, 184, 0.2) 100%), #ffffff;
		box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15), inset 0px -5px 10px rgba(0, 0, 0, 0.1);
		border-radius: 12px;
		display: flex;
		// justify-content: center;
		gap: 30px;
		// align-items: center;
		// justify-content: space-around;
		// margin: 0 auto;
	}
}

@media only screen and (max-height: 816px) {
	.talants {
		margin: 0 auto;
	}

	.talants__container {
		margin: 0 auto;
		padding: 30px 20px 0 30px !important;
		height: 536px !important;
	}
}