.loginDesc{
    width: 480px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
 
   
    
    .loginDescContent{
        width: 400px;
        height: 500px;
        margin: 25px auto;
       
        .loginTitleSubtitle{
            width: 100%;
            height: 150px;
          
            .login{
               font-family: "Montserrat", sans-serif;
               font-style: normal;
               font-weight: 700;
               font-size: 30px;
               line-height: 20px;
               color: #323232; 
               
            }
            .subtitle{
                font-family: 'Montserrat',sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #808080;
             
            }
            .signupLink{
                font-family: 'Montserrat',sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 14px;
                color: #1d71b8;
            }
        }
        .formSubmit{
            margin-top: 1rem;
            width: 100%;
            height: 180px;
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr;
            

            input::placeholder{
                padding-left: 1rem;
                font-size: 18px;
            }
            .formSubmitName{
                width: 100%;
                height: 50px;
                background: #fff;
                border: 1px solid #cdcdcd;
                border-radius: 8px;
                
            }
            .formSubmitPassword{
                width: 100%;
                height: 50px;
                background: #fff;
                border: 1px solid #cdcdcd;
                border-radius: 8px;
            }
            .continue{
                display: flex;
                justify-content: flex-end;
            

                button{
                    width: 130px;
                    height: 44px;
                    border-radius: 8px;
                    padding: 10px 20px 10px 20px;
                    color: #fff;
                    background-color: #1d71b8;
                    display: flex;
                    align-items: center;
                    font-family: "Montserrat",sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                }
               
            }
            .signupLine{
                margin-top: 10px;
                border-bottom: 2px solid #cdcdcd;
            }
        }
        .bySocialApp{
            padding: 0;
          width: 100%;
          height: 100px;
          margin-top: 3rem;
         
          .socialAppTitle{
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                color: #808080;
                display: flex;
                justify-content: center;
              
          }
          .socialLinks{
            cursor: pointer;
            display: flex;
            justify-content: space-around;
          

          }
        }
    }
}