.title {
    font-size: 22.5px;
    font-weight: 700;
    margin-bottom: 8px;
}

.input {
    display: flex;
    flex-direction: column;
    row-gap: 6.5px;

    .inputTitle {
        font-size: 13.5px;
    }

    input {
        width: 100%;
        padding: 11px 15px;
        font-size: 15px;
        border-radius: 6px;
        border: solid 1px #CDCDCD;
        box-sizing: border-box;
    }

    select {
        width: 100%;
        padding: 11px 15px;
        font-size: 15px;
        border-radius: 6px;
        border: solid 1px #CDCDCD;
        box-sizing: border-box;
    }
}

.button {
    display: flex;
    justify-content: end;
    margin-top: 15px;

    button {
        padding: 7.5px 15px;
        border: solid 1px #1D71B8;
        border-radius: 6px;
        background-color: transparent;
    }
}