.circle-slider{
    width: 14%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 135px;
   
}

.circle {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #1d71b8;
  cursor: pointer;
}


.stepBlock .circleWrapper {
  height: 40px;
  position: relative;

}


.selected .circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border:5px solid #1d71b8;
  margin-right: 1px;
}



.stepBlock:not(:last-child) > .circleWrapper::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  rotate: calc(90deg);
  left: -1px;
  background-color: #1d71b8;
  margin: auto;
  z-index: -1;
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
}

.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
}

